<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => t("up_cross_sell") } %>

<% @sales_relationships.each do |relationship, relationship_products| %>
  <h2><%= relationship.sub('_products', '').sub('_', ' ').capitalize %></h2>
  <%= render :partial => "selected_relationship",
    :locals => {:relationship_products => relationship_products, :relationship => relationship} %>
<% end %>
