<% if url_options_authenticate?(:controller => 'admin/up_cross_sales') %>
  <li <%= ' class="active"' if current == t("up_cross_sell") %>>
  <%= link_to t("up_cross_sell"), admin_product_up_cross_sales_url(@product) %>
</li>
<% end %>
