<% if url_options_authenticate?(:controller => 'admin/sales_relationships') %>
  <li <%= ' class="active"' if current == t("up_cross_sell") %>>
  <%= link_to t("up_cross_sell"), selected_admin_product_sales_relationships_url(@product) %>
</li>
<% end %>
